---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>Before moving into academia, I spent many years at the bedside in the paediatric intermediate and intensive care units of
  Lausanne University Hospital (CHUV) and the University Children's Hospital Basel (UKBB), later also working as a scientific collaborator.
  Throughout this time, one question stayed with me: what families go through when their child is critically ill, and how we, as healthcare
  professionals, can best support them. This concern shaped my academic path, from a Certificate of Advanced Studies (CAS) in
  Child and family health in the clinical setting to a Master's degree and then a PhD in Nursing Science,
  and it remains at the heart of my work today. My research explores how families can be integrated into care, so that supporting the family
  becomes a recognised and structured part of caring for the child. An important part of my work is related to how these changes can be implemented,
and more specifically, how to educate and train healthcare professional to adopt a different perspective.</p>

<h2>Publications - NEW</h2><hr />

{% include publication-coverflow.html %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



